html, body, .interface {
    height: 100%;
}
.interface {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p.artist {
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    background-color: skyblue;
    padding: 20px;
}

h1 {
 
}

button {
    
}

.dark_mode {
    background-color: black;
    color: white;
}